main{
    display: flex;
    padding: 30px;
}

.book-view-container{
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.152);
    display: flex;
    gap: 30px;
    padding: 20px;
    width: 1100px;
    border-radius: 5px;
}

.book-img{
    width: 320px;
    height: 450px;
    transition: 0.5s;
}

.book-img:hover{
    transform: scale(1.02);
}

.book-title{
    font-size: 2em;
}

.book-synopsis-container{
    margin-top: 20px;
}

.book-synopsis{
   text-align: start;
}

.book-additionals{
    display: flex;
}

.author-img{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    width: 70px;
}

.author-info-container{
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.185);
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
}
