{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'global/partials/header.css' %}">

<header>
    <figure class="logo-container">
        <img src="{% static 'global/img/book.png' %}" alt="" class="logo">
    </figure>
    <h1 class="title-header">Livraria</h1>
    <input class="search-bar" type="text" value="" placeholder="O que você está procurando?" name="" id="">
    <nav class="links-container">
        <a href="" class="link">Minhas listas</a>
        <a href="" class="link">Criar Conta</a>
    </nav>
</header>

