{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'global/partials/header.css' %}">

<header>
    <figure class="logo-container">
        <img src="{% static 'global/img/book.png' %}" alt="" class="logo">
    </figure>
    <a href="{% url 'library:home' %}">
        <h1 class="title-header">Livraria Virtual</h1>
    </a>
    <input class="search-bar" type="text" value="" placeholder="O que você está procurando?" name="" id="">
    <nav class="links-container">
        <!-- É preciso checar se o Usuário possui uma conta no sistema -->
        <a href="" class="link">Meu Carrinho</a>
        <a href="{% url 'users:register-view' %}" class="link">Minha Conta</a>
    </nav>
</header>

