main{

    padding: 20px;
}

.form-container{
    
    
    padding: 30px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.311);
    width: 850px;
    height: fit-content;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    
}

.form-items{
    align-items: center;
    display: flex;
}

.input-text{
    border: 1px solid rgba(0, 0, 0, 0.536);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 32px;
    padding: 10px;
    border-radius: 5px;
}

.create-account-title{
    text-align: center;
    margin-bottom: 10px;
    
}

.img-register{
    height: 350px;
}

.form-group{
   
    margin-top: 10px;
}

.btn-send-form{
    background-color: white;
    color: #007A7C;
    border: 1px solid rgba(0, 0, 0, 0.536);
    text-align: center;
    width: 350px;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-send-form:hover{
    background-color: #007A7C;
    color: white;
    cursor: pointer;
}